.logo {
    width: 135%;
    position: relative;
    left: 17px;
    bottom: 5px;

}

.logotext h5 {
    color: #929292;
    position: relative;
    top: 20px;
    font-size: x-large;
    font-weight: 300;
    right: -4px;
}

.search {
    margin-top: 12px;
    background: #d6f4ff;
    color: #4d4d4d;
    font-weight: 400;
    border: white;
}

.allfilter {
    color: #433a3a;
    z-index: 99;
    position: fixed;
    top: 85px;
}

.search-icon i {
    color: #008bce;
    font-size: x-large;
    font-weight: 100;
    position: relative;
    top: 18px;
    left: 22px;
}

.row {
  
    
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
}
.firstrow{
    background-color: azure;
}
.filterrow {
    background: azure;
}

.gender-list {
    list-style: none;
}

.bloodGroup {
    list-style: none;
}

.color {
    background-color: brown;
    width: 30%;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
}

.color1 {
    background-color: rgb(8, 8, 8);
    width: 30%;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
}

.color2 {
    background-color: #954535;
    width: 30%;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
}

.color3 {
    background-color: #a52a2a;
    width: 30%;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
}

.color:hover {
    background-color: rgb(255, 129, 129);

}

.color1:hover {
    background-color: rgb(67, 67, 67);

}

.color2:hover {
    background-color: rgb(254, 162, 162);

}

.color3:hover {
    background-color: rgb(255, 159, 159);

}

.check {
    display: block;

}
.popup-img {
    width: 19%;
    position: relative;
    left: 516px;
    background: ghostwhite;
    border: 5px solid rgba(0, 0, 0, 0.125);
    border-radius: 10.25rem;

}

.modal-bg{
    background: #d6f4ff;
}
.input-bg{
    background: white;
}
.form-control:disabled, .form-control[readonly] {
    background-color: #d6f4ff;
    opacity: 1;
    font-style: italic;
    border-color: ghostwhite;
}
.modal-content {
    position: relative;
    bottom: 20px;
    right: 91px;
    display: flex;
    flex-direction: column;
    width: 115%;
    pointer-events: auto;
    background-color: ghostwhite;;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
}
.nav-tabs .nav-link {
    margin-bottom: -1px;
    background: none;
    color: black;
    font-weight: bold;
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}
.load {
    width: 100%;
    height: 100%;
    background: #f4f5f6;
    position: fixed;
    z-index: 99999;
    display: none;
}
.loader{
    vertical-align: middle;
    width: 37%;
    position: relative;
    top: 172px;
    right: 10px;
}
.check1:checked {
    background-color: #a52a2a;
    border-color: brown;
}
.check2:checked {
    background-color: #c64646;
    border-color: #c64646;
}

.check3:checked {
    background-color: #954535;
    border-color: #954533;
}
.check4:checked {
    background-color: #000000;
    border-color: #000000;
}
.check5:checked {
    background-color: #4fc532;
    border-color: #4fc532;
}
.check6:checked {
    background-color: #a52a2a;
    border-color: brown;
}
.check7:checked {
    background-color:Gray;
    border-color: Gray;
}
.check8:checked {
    background-color: #FFBF00;
    border-color:  #FFBF00;
}
.check9:checked {
    background-color: blue;
    border-color:  blue;
}
.bloodcheck:checked{
    background-color: rgb(255, 55, 0);
    border-color:  rgb(255, 55, 0);
}
.haircolor_class{
    background: #ffffff;
    font-weight: 600;
    position: relative;
    right: 18px;
    padding: 20px;
}
.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #010101;
    background-color: #d6f4ff;
    background-clip: padding-box;
    border: 1px solid #ffffff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.card {
    position: relative;
    display: flex;
    flex-direction: row;
    word-wrap: break-word;
    background-color: #d6f4ff;
    background-clip: border-box;
    border: 5px solid rgba(0, 0, 0, 0.125);
    border-radius: 2.25rem;
    flex-wrap: wrap;
    align-content: center;
}
.card:hover {
    background-color: #a8e8ff;
    background-clip: border-box;
    border: 5px solid rgb(187, 185, 185);
    border-radius: 2.25rem;
}
/* .card-img-top:hover{
    filter: drop-shadow(0 0 10px rgb(27, 72, 255));
    animation: glow 1s alternate infinite;
}
 
@keyframes glow{
    0%{
        filter: drop-shadow(0 0 10px rgb(119, 141, 227));
    }
    100%{
        filter: drop-shadow(0 0 25px rgb(27, 72, 255));

    }
} */

.card-body {
    border-radius: 20%;
    flex: 1 1 auto;
    padding: 2rem 1rem;
    border-block-start: inherit;
    background-color: ghostwhite;
}
.tabs{
    background-color: ghostwhite;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #495057;
    background-color: ghostwhite;
    border-color: #dee2e6 #dee2e6 ghostwhite;
}
.page-item.active .page-link {
    z-index: 3;
    color: #000;
    background-color: #d6f4ff;
    border-color: #d6f4ff;
}
.page-link{
    position: relative;
    display: block;
    color: #383838;
    text-decoration: none;
    background-color: #fff;
    border: 0px solid #262f38;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.page-link:hover {
    z-index: 2;
    color: #000000;
    background-color: #d6f4ff;
    border-color: #000000;
}
.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    position: relative;
    right: 508px;
}
.emailbtn{
    background-color: #dce5f5;
    color: #363636;
    border-color: #ffffff;
    border-radius: 30%;
    font-weight: 600;
}
.emailbtn:hover {
    color: #ffffff;
    background-color: #b5b4b4;
    border-color: white;

}
.detailbtn{
    background-color: #dce5f5;
    color: #363636;
    border-color: #ffffff;
    border-radius: 30%;
    font-weight: 600;
}
.detailbtn:hover {
    color: #ffffff;
    background-color: #b5b4b4;
    border-color: white;
}
label {
    display: inline-block;
    background-color: #d6f4ff;
    width: 75px;
    text-align: center;
    color: currentColor;
    font-weight: 400;
    border: 1px solid #d6f4ff;
}
label:hover {
    background-color: #a8e8ff;
    color: #5a5a5a;
    border: 1px solid #d4d4d4;
}
.btn-outline-danger {
    color: #dc3545;
    border-color: #dc3545;
    width: 106px;
}
.btn-outline-success {
    color: #198754;
    border-color: #198754;
    width: 94px;
}
.blond:checked{
    background-color: #ffebaf;
    border-color:  #ffebaf;
}
.topheader{
    position: fixed;
    z-index: 99;
    padding-bottom: 33px;
}
.datarow{
    padding-top:64px;
}
.filrow{
    position: fixed;
    top: 117px;
    z-index: 99;
    overflow-y: scroll;
    height: 570px;
    overflow-x: hidden;
}
.userdatarow{
    margin-left: 374px;
    
}
.paginationrow{
   margin-left: 500px;
}